{% extends 'visitor.html.twig' %}

{% block title %}
	{{ parent() }}
	- Home
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('session') }}
{% endblock %}

{% block body %}
	<main class="container-fluid container-lg pb-5">
		{% include '/components/session/_opened_sessions.html.twig' with {'firstOpenedSession' : firstOpenedSession}  %}
		{% include '/components/session/_next_sessions.html.twig' with {'nextSessions' : nextSessions, 'closedSessions' : closedSessions}  %}
	</main>
{% endblock %}
