{% extends 'admin.html.twig' %}
{% block title %}
	{{ parent() }}
	| Membres - Édition
{% endblock %}
{% block admin_content_title %}ÉDITION DU MEMBRE
{% endblock %}
{% block admin_content %}
	<div class="row d-flex justify-content-center">
		<div class="col">
			{{ include('admin/user/_form.html.twig', {'button_label': 'Modifier'}) }}
		</div>
	</div>
{% endblock %}
