{% extends 'admin.html.twig' %}
{% block title %}
	{{ parent() }}
	| Recette - Édition
{% endblock %}
{% block admin_content_title %}
	ÉDITION DE LA RECETTE
{% endblock %}
{% block admin_content %}
	<div class="row d-flex justify-content-center">
		<div class="col">
			{{ include('admin/recipe/_form.html.twig', {'button_label': 'Modifier'}) }}
		</div>
	</div>
{% endblock %}
