{% extends 'admin.html.twig' %}
{% block title %}
	{{ parent() }}
	| Admin - Home
{% endblock %}
{% block admin_content_title %}DASHBOARD
{% endblock %}
{% block admin_content %}
	<div class="container-dasboard">
		{{ render_chart(chart, {'id': 'dashboard-chart'}) }}
	</div>
{% endblock %}