<form method="post" action="{{ path('app_session_delete', {'id': session.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer la séance {{ session.name }} ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ session.id) }}">
		<a class="text-decoration-none icon-link icon-link-hover link-light mx-4" role="button" href="">
			{{ include('/components/svg_img/_icon_trash.svg.twig') }}
			Supprimer
		</a>
	</button>
</form>
