{% extends 'visitor.html.twig' %}

{% block title %}
	{{ parent() }}
	- Home
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('session') }}
{% endblock %}

{% block body %}
	<main class="container-fluid container-lg">
		{% include '/components/session/_opened_sessions.html.twig' with {'sessionsOpened' : sessionsOpened}  %}
		{% include './components/session/_next_sessions.html.twig'   %}
	</main>
{% endblock %}