{% extends 'visitor.html.twig' %}
{% block title %}
    {{ parent() }}
    - Sessions
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <main class="container">
        {% include './components/session/_next_sessions.html.twig'   %}
    </main>
{% endblock %}