<h1>Bonjour !</h1>
<p>Cher(e)
	{{ user.lastname ~ ' ' ~ user.firstname }},
				Nous espérons que vous allez bien. Nous tenons à vous informer que nous avons bien pris en compte votre demande et nous l'avons traitée avec diligence. Le but de ce courrier électronique est de vous confirmer que votre demande a été traitée avec succès.
				Conformément à votre demande, nous procéderons à la désactivation de votre compte utilisateur dans les prochaines 48 heures. Veuillez noter que cette action entraînera la suppression de toutes les informations associées à votre compte, y compris vos données personnelles et vos préférences. Une fois votre compte désactivé, vous ne pourrez plus accéder à nos services en utilisant vos identifiants actuels.
				Si vous avez changé d'avis ou si vous souhaitez réactiver votre compte, veuillez nous contacter dans les plus brefs délais afin que nous puissions vous fournir les informations nécessaires pour le processus de réactivation.
				Nous tenons à vous remercier d'avoir utilisé nos services et nous espérons avoir pu répondre à toutes vos attentes. Si vous avez des questions supplémentaires ou besoin d'une assistance supplémentaire, n'hésitez pas à nous contacter. Notre équipe est là pour vous aider.
				Encore une fois, nous vous remercions de votre confiance et de votre collaboration. Nous vous souhaitons le meilleur pour vos projets futurs.
				Cordialement,
</p>
