footer {
    height: 120px;
    background-color: $dark;
    height: 100%;
    padding-block: 1rem;
}

.line>img {
    width: 100%;
}

.social a>img {
    width: 40px;
    margin-inline: 10px;
    margin-bottom: 0;
}

.title>p {
    margin-bottom: 0;
    padding-block-end: 0.8rem;
}

.title>h3 {
    font-size: $font-size-mid;
    padding-block-start: 0.8rem;
}

.details a>p{
    display: flex;
    width: 240px;
    margin-bottom: 0;
    align-items: center;
}

.details a {
    color: $light;
    text-decoration: none;
}