@import "_variables.scss";

.container-admin {
    margin: 4rem;
    border: 1px solid $secondary-light;
    background: $card-gradient-color;
    border-radius: var(--bs-border-radius);
    box-shadow: $shadow-primary;
}

.frame_separator {
    width: clamp(250px, 50vw, 380px);
}

.max-height-select {
    height: clamp(150px, 20vw, 200px);
    overflow: auto;
}

.container-dashboard {
    height: 50vh;
    min-height: 50vh;
    padding: 1rem;
}

.ornement {
    border-radius: 0px 8px 0px 8px;
}

.ornement::before {
    content: "";
    background-image: url("../images/ornement.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-1px, -1px);
}
.ornement::after {
    content: "";
    background-image: url("../images/ornement.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(1px, 1px) rotate(180deg);
}

input[type="checkbox"] {
    background-color: $secondary;
}

input[type="checkbox"]:before,
input[type="checkbox"]:checked:before,
input[type="checkbox"]:checked:after {
    background-color: white;
}
