@import "_variables.scss";

.container-admin {
    margin: 4rem;
    border: 1px solid $secondary-light;
    background: $card-gradient-color;
    border-radius: var(--bs-border-radius);
    box-shadow: $shadow-primary;
}

.frame_separator {
    width: clamp(250px, 50vw, 380px);
}

.container-dasboard {
    height: 50vh;
    min-height: 50vh;
    padding: 1rem;
}
