//start coding by removing this file and adding yours ;)
@import "variables";
@import "_footer";
@import "~bootstrap/scss/bootstrap";

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-title;
    color: $primary-light;
}

p {
    font-family: $font-base;
    letter-spacing: 3px;
}
