//start coding by removing this file and adding yours ;)
@import "_theme.scss";
@import "_footer";
@import "svg.scss";

body {
    background-color: $dark-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-title;
    color: $primary-light;
    letter-spacing: 2px;
}

.btn {
    outline: 1px solid $primary-light;
    outline-offset: 4px;
    border: 2px dotted $secondary;
    letter-spacing: 2px;
    background-color: $dark-light;
    color: $primary-light;
    padding-inline: 2em;
    border-radius: 50px;
    transition-duration: 0.2s;
    box-shadow: $shadow-primary;
}
.icon-light > svg {
    color: $primary-light;
}

.icon-light:hover > svg {
    color: $dark-light;
}

.icon-dark > svg {
    color: $dark-light;
}

.icon-dark:hover > svg {
    color: $light;
}

.icon-link-hover-left {
    &:hover,
    &:focus-visible {
        > .bi {
            transform: translate3d(-0.35rem, 0, 0);
        }
    }
}

.btn:hover {
    background-color: $secondary;
    border-color: $light;
    opacity: 70%;
}

.btn:focus {
    color: $light;
}

.btn:after {
    opacity: 1;
    transition: 0s;
}

p {
    font-family: $font-base;
    letter-spacing: 3px;
}

body {
    padding-block-start: $navbar-height;
}

main {
    height: calc(100vh - ($navbar-height + $footer-height));
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}

.text-primary-light {
    color: $primary-light;
    font-family: $font-base;
}

.letter-spacing {
    letter-spacing: 3px;
}

.font-sizepara {
    font-size: 1.5rem;
}
.letter-spacing-title {
    letter-spacing: 5px;
}

.bg-navbar {
    background-image: url("../images/line.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% 3px;
}

.transform {
    transform: translate(7px, -2px);
}
