@import "variables";

.custom-height {
    min-height: calc(100vh - ($navbar-height + $footer-height));
}

label {
    text-transform: uppercase;
}

.form-control::placeholder {
    color: $secondary;
}

.border-secondary {
    background: $card-gradient-color;
}

.form-control {
    border: solid 1px $secondary;
    margin-bottom: 1rem;
}

textarea.form-control {
    min-height: 150px;
    resize: none;
}
