@import "variables";

label {
    text-transform: uppercase;
}

.form-control::placeholder {
    color: $secondary;
}

.form-control {
    border: solid 1px $secondary;
    height: 3.3rem;
    margin-bottom: 1.5rem;
}

.fs-1 {
    font-size: calc(1.375rem + 1vw)!important;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1200px;
}

textarea.form-control {
    min-height: 150px!important;
    resize : none;
}

button {
    border: solid 1px $primary;
    border-radius: 200px;
    background-color: transparent;
    color: $primary;
}