header{
    background-image: url(../images/background-header.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    & p.font-sizepara{
        font-size: clamp(1rem,1vw,2.5rem);
    }
}

.pine-circle{
    width: 39px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items:center;
    background-image: url(../images/pine-circle.png);
}
.pin span {
    transform: rotate(45deg);
}

.size-inovin{
    font-size: 6rem;
    letter-spacing: 15px;
}
