@import "_variables";

body {
    padding-bottom: $footer-height;
}

header {
    background-image: url(../images/background-header.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: calc(100vh - $navbar-height);

    & p.font-sizepara {
        font-size: clamp(1rem, 1vw, 2.5rem);
    }
}

.pin span {
    transform: rotate(45deg);
}

.size-inovin {
    font-size: clamp(45px, 5vw, 60px);
    letter-spacing: 10px;
}

.size-vine {
    width: clamp(280px, 40vw, 800px);
}

.pine-circle {
    width: 39px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/pine-circle.png);
}

@media screen and (max-width: 768px) {
    .custom-header-height {
        max-height: 196px;
    }

    body {
        padding-bottom: $footer-height-md;
    }
}
