header {
    background-image: url(../images/background-header.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: auto;

    & p.font-sizepara {
        font-size: clamp(1rem, 1vw, 2.5rem);
    }
}

.pin span {
    transform: rotate(45deg);
}

.size-inovin {
    font-size: clamp(30px, 5vw, 60px);
    letter-spacing: 10px;
}

.size-vine {
    width: clamp(280px, 45vw, 800px);
}

.pine-circle {
    width: 39px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/pine-circle.png);
}
