@import "variables";

.form-control {
    border: 0;
    border-bottom: 1px solid $secondary;
}

.form-control:focus {
    box-shadow: none;
    border-bottom: 1px solid $primary;
}

@mixin profil-btn-hover($color) {
    background-color: $color;
    color: $dark;
    border: 1px solid $color;
}

// template btn
.custom-profile-btn {
    color: $light;
    display: block;
    text-align: center;
    border: 1px solid $secondary;
    border-radius: 8px;
    padding: 1rem 2rem;
    width: 100%;
    transition: 0.1s ease-in;
}

.btn1 {
    @extend .custom-profile-btn;
    &:hover {
        @include profil-btn-hover($primary);
    }
}

.btn2 {
    @extend .custom-profile-btn;
    &:hover {
        @include profil-btn-hover($danger);
    }
}

.custom-shadow {
    box-shadow: $shadow-primary;
}

.custom-modal {
    outline: 2px dotted $secondary;
    outline-offset: -7px;
    border-radius: 5px;
}

.modal.show {
    backdrop-filter: blur(10px);
    background-color: $dark-opacity;
}

.modal-footer {
    border-top: 1px solid $secondary;
}
