@import "_variables";

body {
    padding-bottom: $footer-height;
}

.my-custom-radio input[type="radio"] {
    display: none;
}

.my-custom-radio label {
    border: 1px solid $secondary;
    border-radius: 8px;
    padding: 1rem;
    width: 100%;
    transition: 200ms;
}

.form-check {
    padding: 0.5rem 2rem;
    width: 100%;
}

.my-custom-radio label:hover {
    background-color: $primary-light;
    color: $dark;
}

.form-check-input:checked + label {
    background-color: $primary;
    color: $dark;
}

.col-form-label {
    padding-inline: 2rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    font-family: $font-base;
    letter-spacing: 0.2rem;
    font-weight: bolder;
    color: $primary-light;
}

@media screen and (max-width: 768px) {
    body {
        padding-bottom: $footer-height-md;
    }
}
