@import "_variables.scss";

body {
    padding-bottom: $footer-height;
}

main {
    min-height: calc(100vh - ($navbar-height + $footer-height));
}

.frame_separator {
    width: 100%;
}

.custom-card {
    height: auto;
    width: 95%;
    border: 1px solid $secondary;
    outline: 1px dashed $secondary;
    outline-offset: -5px;
    border-radius: 8px 8px 0px 0px;
    margin-bottom: 2rem;
}

.recipe-card {
    border: 1px solid $secondary;
    outline: 1px dashed $secondary;
    outline-offset: -5px;
    border-radius: 8px 8px 0px 0px;
    min-height: 405px;
}

.custom-card-title {
    font-family: $font-base;
    font-weight: 400;
    margin-bottom: 1rem;
}

.wine-ticket {
    position: relative;

    & .custom-name {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 175px;
        max-width: 175px;
        height: 38px;
        max-height: 38px;
        overflow-y: auto;

        color: $light;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0.8rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-align: center;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;

    & p:nth-child(2) {
        width: 250px;
    }
}

.stats {
    display: flex;
    gap: 0.5rem;

    & .header-line {
        height: 1px;
        width: 100%;
        background: $secondary;
        align-self: flex-end;
        transform: translateY(-20px);
    }
}

.recipe-h2 {
    display: flex;

    > h2 {
        width: auto;
        margin: 0;
    }
}

.recipe-img {
    display: flex;
    justify-content: center;
}

.custom-transform {
    transform: translateY(2px);
}

.custom-margin {
    margin-right: 2.5rem;
}

.custom-dosage-width {
    min-width: 50px;
}

.custom-dosage-show-width {
    min-width: 65px;
}

.fs-p {
    font-size: 0.875rem;
}

.recipe-scroll {
    scrollbar-width: none;
}

.progress {
    height: 0.5rem;
}

@media screen and (max-width: 768px) {
    body {
        padding-bottom: $footer-height-md;
    }
}
