@import "_variables.scss";

main {
    min-height: calc(100vh - ($navbar-height + $footer-height));
}
.frame_separator {
    width: 100%;
}

.custom-card {
    height: 230px;
    width: 95%;
    border: 1px dashed $secondary;
    outline: 2px solid $secondary;
    outline-offset: 5px;
    border-radius: 150px 8px 8px 150px;
    margin-bottom: 2rem;

    .circle {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 180px;
        width: 180px;
        background-color: $primary;
        border-radius: 50%;
        outline: 1px solid $secondary;
        outline-offset: 7px;
        position: relative;

        > .custom-text {
            color: $primary;
            font-size: 4rem;
            font-weight: bolder;
            margin: 0;
            z-index: 2;

            &::before {
                content: "total";
                position: absolute;
                top: 15px;
                left: 50%;
                transform: translate(-50%, -50%);

                color: $dark;
                font-size: 0.875rem;
                text-transform: uppercase;
            }
        }

        > .waves {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 170px;
            height: 170px;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            background-color: $dark-light;
            animation: 3s ease-in-out infinite waves-animation;
        }

        @keyframes waves-animation {
            0% {
                clip-path: polygon(
                    100% 100%,
                    0% 100%,
                    0% 15.77%,
                    5% 14.23%,
                    10% 12.76%,
                    15% 11.56%,
                    20% 10.8%,
                    25% 10.59%,
                    30% 10.96%,
                    35% 11.86%,
                    40% 13.15%,
                    45% 14.66%,
                    50% 16.18%,
                    55% 17.49%,
                    60% 18.41%,
                    65% 18.81%,
                    70% 18.64%,
                    75% 17.91%,
                    80% 16.73%,
                    85% 15.26%,
                    90% 13.72%,
                    95% 12.32%,
                    100% 11.25%
                );
            }
            50% {
                clip-path: polygon(
                    100% 100%,
                    0% 100%,
                    0% 10.55%,
                    5% 12.37%,
                    10% 14.52%,
                    15% 16.7%,
                    20% 18.6%,
                    25% 19.95%,
                    30% 20.56%,
                    35% 20.35%,
                    40% 19.35%,
                    45% 17.7%,
                    50% 15.63%,
                    55% 13.42%,
                    60% 11.4%,
                    65% 9.84%,
                    70% 8.97%,
                    75% 8.9%,
                    80% 9.64%,
                    85% 11.1%,
                    90% 13.06%,
                    95% 15.26%,
                    100% 17.38%
                );
            }
            100% {
                clip-path: polygon(
                    100% 100%,
                    0% 100%,
                    0% 15.77%,
                    5% 14.23%,
                    10% 12.76%,
                    15% 11.56%,
                    20% 10.8%,
                    25% 10.59%,
                    30% 10.96%,
                    35% 11.86%,
                    40% 13.15%,
                    45% 14.66%,
                    50% 16.18%,
                    55% 17.49%,
                    60% 18.41%,
                    65% 18.81%,
                    70% 18.64%,
                    75% 17.91%,
                    80% 16.73%,
                    85% 15.26%,
                    90% 13.72%,
                    95% 12.32%,
                    100% 11.25%
                );
            }
        }
    }

    & .content {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 1rem 0;

        &::after {
            content: "";
            height: 1px;
            width: 100%;
            background-color: $secondary;
            transform: translate(0px, 10px);

            position: absolute;
            top: 100px;
            right: 0;
        }

        & .mini-circle {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $primary;
            height: 75px;
            width: 75px;
            min-width: 75px;
            border-radius: 50%;
            outline: 1px solid $secondary;
            outline-offset: 5px;
            margin-left: 1.5rem;
            margin-right: 0.5rem;
            text-align: center;

            > p {
                color: $dark-light;
                font-size: 2rem;
                font-weight: bold;
                margin: 0;
                position: relative;
                transform: translateY(5px);

                &::before {
                    content: "total";
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translate(-20%, -11px);

                    font-size: 10px;
                    font-weight: bolder;
                    text-transform: uppercase;
                }
            }
        }

        & .custom-title-card {
            font-family: $font-base;
            text-transform: uppercase;
            font-size: 1.3rem;
            font-weight: 300;
            letter-spacing: 3px;
            margin-left: 1rem;
        }

        & .custom-title-wine {
            font-family: $font-card-title;
            font-size: 1.5rem;
            letter-spacing: 3px;
            margin-left: 1.5rem;
        }

        & .custom-margin {
            margin: 2.3rem 1rem 0 1rem;
        }

        & .custom-size {
            font-size: 0.625rem;
        }

        & .custom-padding {
            padding: 0 0.15rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .custom-card {
        border-radius: 8px;
    }

    .custom-margin {
        margin-top: 1.9rem;
    }
}
