@import "variables";

.frame_container > .frame_separator {
    width: auto;
}

.bg-card {
    background: $card-gradient-color;
}

.card-title {
    font-family: $font-card-title;
    font-size: 2rem;
}

.card-wine {
    min-width: 330px;
    outline: 1px solid $primary-light;
    outline-offset: 4px;
    border: 2px dotted $secondary;
    border-radius: 174px 25px 0px 174px;
    box-shadow: $shadow-primary;
}

.img-session-wine {
    outline-offset: 16px;
    outline: 1px solid $secondary;
    border: 2px solid $primary-light;
    border-radius: 50%;
    padding: 4px;
    background: $icon-gradient-color;
    box-shadow: $shadow-primary;
    object-fit: contain;
    height: 125px;
    width: 125px;
    margin-block: 20px;
}

.separator-line {
    height: 2px;
    background: $icon-gradient-color;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .card-wine {
        border-radius: 15px;
    }

    .img-session-wine {
        margin-top: 2rem;
        height: clamp(30px, 20vw, 120px);
        width: clamp(30px, 20vw, 120px);
        padding: 4px;
        outline-offset: 6px;
    }
}
