@import "variables";


/* circlewith number */
.pine-circle {
    width: 39px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/pine-circle.png);
}

.pin span {
    transform: rotate(45deg);
}

/* the background */

.myPage {
    background: $card-gradient-color;
}

/* all the border of the page */

.myForm {
    border: 1px solid $secondary;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.myFormBorder {
    border: 2px dotted $secondary;
    margin: 4px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.secondNavBarBorder {
    border-top: 1px solid $secondary;
    padding-top: 4px;
}

.mySecondNavbar {
    border-top: 2px dotted $secondary;
}

.firstNavbarBorder {
    border-bottom: 2px dotted $secondary;
    margin-bottom: 4px;
}

.buttonNext {
    border-top: 2px dotted $secondary;
}

/* all the active-link */

.firstNavbar .nav-link.active {
    background: $navbarTastingSheetBg;
    border-top: 1px solid $secondary;
    border-left: 1px solid $secondary;
    border-right: 1px solid $secondary;
    border-radius: 0px;
    transform: translateY(1.1px);
    z-index: 10;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    color: $primary-light;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.mySecondNavbar .nav-link.active {
    background: transparent;
    font-size: 1.5rem;
    color: $primary-light;
}

/* the image */
.row .rounded-circle {
    object-fit: cover;
    width: 250px;
    height: 250px;
    outline: 2px dotted $secondary;
    outline-offset: 4px;
    border: 1px solid $secondary;
}

/* my navbar*/
.firstNavbar .nav-item button {
    color: $primary-light;
    letter-spacing: 2px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
}

.mySecondNavbar .nav-link {
    color: $secondary-light;
}

/* my wine sheet */
.firstNavbarBorder h4 {
    font-family: $font-card-title;
    font-size: 3rem;
    text-transform: capitalize;
}

.firstNavbarBorder ul {
    list-style-type: none;
    line-height: 220%;
    padding-left: 0px;
}

.wineSheetListTitle {
    font-weight: bold;
    letter-spacing: 1px;
}

/* range */
input[type=range] {
    height: 34px;
    width: 100%;
}

/** CHROME*/
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 20px;
    cursor: pointer;
    background: transparent;
    border-radius: 20px;
    border: 1px solid $secondary-light;
}

input[type=range]::-webkit-progress-value {
    width: 100%;
    height: 20px;
    cursor: pointer;
    background: $primary;
    border-radius: 20px;
    border: 1px solid $secondary-light;
}

input[type=range]::-webkit-slider-thumb {
    border: 1px solid #00001E;
    height: 32px;
    width: 32px;
    border-radius: 15px;
    background: white;
    cursor: pointer;
    margin-top: -6px;
    
}


/** FF*/
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 20px;
    cursor: pointer;
    background: transparent;
    border-radius: 20px;
    border: 1px solid $secondary-light;
}

input[type="range"]::-moz-range-progress {
    width: 100%;
    height: 20px;
    cursor: pointer;
    background: $primary;
    border-radius: 20px;
    border: 1px solid $secondary-light;
}

input[type=range]::-moz-range-thumb {
    border: 1px solid #00001E;
    height: 32px;
    width: 32px;
    border-radius: 15px;
    background: white;
    cursor: pointer;
    margin-top: -6px;
}