@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
    font-family: "SnellBT-Regular";
    src: url("../fonts/SnellBT-Regular.otf") format("opentype");
}
@font-face {
    font-family: "Fontspring-TheSeasons";
    src: url("../fonts/Fontspring-DEMO-theseasons-reg.otf") format("opentype");
}

$primary: #d7ba31;
$primary-light: #ebd08a;
$secondary: #474035;
$secondary-light: #695e5e;
$dark: #08080b;
$dark-light: #0e0d12;
$light: #fbfbfb;

$font-base: "Roboto", sans-serif;
$font-card-title: "SnellBT-Regular", sans-serif;
$font-title: "Fontspring-TheSeasons", sans-serif;

$font-size-mid: 2rem;

$body-color: $light;
$body-bg: $dark-light;
$font-family-base: $font-base;

$card-gradient-color: linear-gradient(
    0deg,
    rgba(81, 69, 63, 0.05) -21.85%,
    rgba(126, 109, 50, 0.17) 127.46%,
    rgba(213, 194, 26, 0) 128.23%
);
$line-gradient-color: linear-gradient(
    180deg,
    rgba(238, 214, 101, 0) 0%,
    #eed665 50%,
    rgba(238, 214, 101, 0) 100%
);
$icon-gradient-color: radial-gradient(
    49.66% 49.66% at 50.34% 50.34%,
    rgba(180, 137, 56, 0.83) 0%,
    #684a10 30.26%,
    #14110f 100%
);
