@import "variables";

main {
    min-height: calc(100vh - ($navbar-height + $footer-height));
}

.frame_container > .frame_separator {
    width: auto;
}

.card {
    background: $card-gradient-color;
    box-shadow: $shadow-primary;
    border: 2px solid $secondary;
    border-radius: 45px 10px 10px 10px;
    position: relative;
}

.card > img {
    border-radius: 45px 9px 0px 0px;
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.card-title {
    padding-block: 1rem;
    font-family: $font-card-title;
    font-size: 2rem;
}

.bar_separator {
    height: 5px;
    background-image: url("../images/line_bolder.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 110% 5px;
}

.col-title {
    color: $primary;
    border-bottom: 1px solid $secondary;
    padding-bottom: calc(1rem * 1 / 2);
}

.col {
    padding-top: calc(1rem * 1 / 2);
}

.card-footer {
    border-top: 2px solid $secondary;
    margin: 0;
    min-height: 75px;
}

.card-body {
    outline: 1px dashed $secondary;
    outline-offset: -6px;
}

.price-placeholder {
    position: absolute;
    width: 115px;
    height: 60px;
    top: -4px;
    left: -4px;
    border-radius: 45px 0px 45px;
}

.price-placeholder::after {
    content: "";
    border: none;
    border-right: 2px solid $secondary;
    border-bottom: 2px solid $secondary;
    width: 115px;
    height: 60px;
    position: absolute;
    border-radius: 47px 0px 47px;
    transform: translate(4px, 4px);
}

#price_wine_slider .noUi-active .noUi-tooltip {
    display: block;
    background-color: transparent;
}
#price_wine_slider .noUi-connect {
    background: $primary;
}

#price_wine_slider .noUi-handle {
    height: 28px;
    width: 28px;
    top: -5px;
    right: -9px; /* half the width */
    border-radius: 28px;
}

#price_wine_slider .noUi-tooltip {
    border: 0;
    border-radius: 0;
    background: transparent;
    font-size: 1.5rem;
    color: $primary;
    font-weight: 600;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
}

form .ts-control,
form .ts-wrapper.single.input-active .ts-control {
    background-color: $dark-light;
    border: 0px;
    color: $light;
}

form .ts-wrapper.multi .ts-control [data-value] {
    background-color: $primary;
    background-image: linear-gradient(to bottom, $primary, $primary);
    border: 1px solid $light;
    color: $dark;
}

form .ts-wrapper.plugin-remove_button:not(.rtl) .item .remove {
    border-left: 1px solid $light;
    margin-left: 6px;
}
form .has-items .ts-control > input {
    color: $light;
}

form .ts-control > input {
    color: $light;
}

form .ts-dropdown,
form .ts-control,
form .ts-control input {
    font-size: 1rem;
}

.custom-card-wine {
    height: auto;
    outline: 1px dashed $secondary;
    outline-offset: -5px;
    margin-bottom: 2rem;
}

.custom-wine-border {
    border: 1px solid $secondary;
    border-radius: 5% 8px 8px 8px;
}

.wine-size-img {
    width: 500px;
    height: auto;
    border-radius: 8px;
    overflow: hidden;
}

.bloc-price {
    background: $primary;
    color: $dark-light;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-size: 2rem;
    font-weight: bolder;
}

.custom-min-width {
    min-width: 180px;
    min-height: 40px;
}

@media screen and (max-width: 768px) {
    .wine-size-img {
        width: 100%;
    }
}
