<div class="card bg-card me-3 mini-card position-relative">
	<div class="line-card"></div>
	<div class="card-body d-flex justify-content-center align-items-center flex-column">
		<h2 class="px-4 align-left align-self-start text-center text-primary-light fs-3">
			Séance du
			{{ session.openingDate ? session.openingDate|date('d-m-Y') : '' }}
		</h2>
		{% if session.closed is same as(false) %}
			<p class="px-4 text-secondary-light align-self-start">PROCHAINEMENT</p>
		{% else %}
			<p class="px-4 text-danger align-self-start">TERMINÉE</p>
		{% endif %}

		<div class="row w-100 px-2 mt-2  g-2">
			<div class="col-7">
				<div class="bg-primary text-center text-dark letter-spacing ms-2">
					LIEU
				</div>
				<div class="text-start text-light overflow-auto letter-spacing height-location ms-2 mt-2">
					{{ session.location }}
				</div>
			</div>
			<div class="col-5">
				<div class="bg-primary text-center text-dark letter-spacing ms-auto">
					HORAIRE
				</div>
				<div class="text-center text-light letter-spacing ms-auto mt-2 text-nowrap">
					{{ session.openingDate|date("H") ~ 'H' ~ ' - ' ~ session.openingDate|date_modify('+3 hours')|date("H") ~ 'H' }}
				</div>
			</div>
		</div>
	</div>
</div>