<div class="d-flex align-items-end">
	<span class="decoration-title">
		{% include 'components/svg/_icon_decoration.svg.twig' %}
	</span>
	<h2 class="text-primary-light fw-light mt-5 letter-spacing m-0 text-uppercase">
		Prochaine séances
	</h2>
</div>
<div class="line-gradient"></div>

{% if nextSessions is empty %}
	<p class="mt-5">Aucune prochaine séance.</p>
{% else %}
	<div id="carouselExample" class="carousel slide mb-3 mt-5">
		<div class="carousel-inner">
			{% set sessionNumber = ((nextSessions|length -1) / 2)|round(0, 'floor') %}
			{% for i in 0 .. sessionNumber %}
				<div class="carousel-item {% if loop.first %} active {% endif %}">
					<div class="d-flex flex-column flex-sm-row gap-3 justify-content-center custom-width m-auto">
						{% for session in nextSessions|slice(i * 2, 2) %}
							{% include "components/session/_card_session.html.twig" %}
						{% endfor %}
					</div>
				</div>
			{% endfor %}
		</div>

		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
			{% include('components/svg/arrow_left.svg') %}
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
			{% include('components/svg/arrow_right.svg') %}
			<span class="visually-hidden">Next</span>
		</button>
	</div>
{% endif %}

<div class="d-flex align-items-end">
	<span class="decoration-title">
		{% include 'components/svg/_icon_decoration.svg.twig' %}
	</span>
	<h2 class="text-primary-light fw-light mt-5 letter-spacing m-0 text-uppercase">
		Séances terminées
	</h2>
</div>
<div class="line-gradient"></div>

{% if closedSessions is empty %}
	<p class="mt-5">Aucune séance terminée.</p>
{% else %}
	<div id="carouselfinish" class="carousel slide mb-5 mt-5">
		<div class="carousel-inner">
			{% set sessionNumber = ((closedSessions|length -1) / 2)|round(0, 'floor') %}
			{% for i in 0 .. sessionNumber %}
				<div class="carousel-item {% if loop.first %} active {% endif %}">
					<div class="d-flex flex-column flex-sm-row gap-3 justify-content-center custom-width m-auto">
						{% for session in closedSessions|slice(i * 2, 2) %}
							{% include "components/session/_card_session.html.twig" %}
						{% endfor %}
					</div>
				</div>
			{% endfor %}
		</div>

		<button class="carousel-control-prev me-5" type="button" data-bs-target="#carouselfinish" data-bs-slide="prev">
			{% include('components/svg/arrow_left.svg') %}
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselfinish" data-bs-slide="next">
			{% include('components/svg/arrow_right.svg') %}
			<span class="visually-hidden">Next</span>
		</button>
	</div>
{% endif %}
