{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }}
	| Administration
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin') }}
{% endblock %}
{% block navbar %}
	{% include 'admin/components/_admin-navbar.html.twig' %}
{% endblock %}
{% block body %}
	<main class="container-fluid">
		<div class="container-admin ornement position-relative border border-secondary py-sm-5 mx-sm-5 px-sm-5 mx-1 px-2 py-4">
			<section>
				<div class="row">
					<div class="col">
						<div class="d-flex flex-column justify-content-center align-items-center row">
							<h1 class="text-center pt-5">
								{% block admin_content_title %}{% endblock %}
							</h1>
						</div>
						<div class="d-flex justify-content-center">
							{% include "components/svg/_frame_separator.svg.twig" %}
						</div>
						<div class="mt-4 py-5">
							{% block admin_content %}{% endblock %}
						</div>
					</div>
				</div>
			</section>
		</div>
	</main>
{% endblock %}
{% block footer %}{% endblock %}