{% extends 'admin.html.twig' %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="container-admin">
			<section>
				<div class="d-flex flex-column justify-content-center align-items-center row">
					<h1 class="text-center">
						{% block admin_content_title %}{% endblock %}
					</h1>
					{% include "components/frames/_frame-separator.html.twig" %}
					<div class="tbodyDiv mt-4">
						{% block admin_content %}{% endblock %}
					</div>
				</div>
				<div class="d-flex justify-content-end align-self-end">
					<a role="button" class="btn mt-4" href="{{ path('app_grape_variety_new') }}">AJOUTER</a>
				</div>
			</section>
		</div>
	</div>
{% endblock %}