{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }}
	| Administration
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin') }}
{% endblock %}
{% block navbar %}
	{% include 'admin/components/_admin-navbar.html.twig' %}
{% endblock %}
{% block body %}
	<div class="container-fluid">
		<div class="container-admin">
			<section>
				<div class="d-flex flex-column justify-content-center align-items-center row">
					<h1 class="text-center">
						{% block admin_content_title %}{% endblock %}
					</h1>
					{% include "components/svg_img/_frame_separator_svg" %}
					<div class="mt-4">
						{% block admin_content %}{% endblock %}
					</div>
				</div>
			</section>
		</div>
	</div>
{% endblock %}
{% block footer %}
	{% include 'components/_footer.html.twig' %}
{% endblock %}
