<footer class="container-fluid bg-footer">
	<div class="row mx-5">
		<div class="d-flex flex-column flex-md-row justify-content-md-around align-items-center">
			<div class="text-center text-md-start social col-md-5 col-8 mb-5 mb-md-0">
				<a class="text-decoration-none my-2" href="https://www.facebook.com/profile.php?id=100091922199451" target="_blank">
					<img class="my-2" src="{{ asset('build/images/facebook.svg') }}" alt="facebook">
				</a>
				<a href="#" class="text-decoration-none"><img class="my-2" src="{{ asset('build/images/instagram.svg') }}" alt="instagram"></a>
				<a href="#" class="text-decoration-none"><img class="my-2" src="{{ asset('build/images/twitter.svg') }}" alt="twitter"></a>
				<a href="#" class="text-decoration-none"><img class="my-2" src="{{ asset('build/images/youtube.svg') }}" alt="youtube"></a>
			</div>
			<div class="d-flex align-items-center justify-content-center title col col-md-4">
				<h2 class="letter-spacing text-uppercase m-0 p-0">Ino vin</h2>
			</div>
			<div class="d-flex align-items-center justify-content-end details col col-md-4">
				<p class="h-100 mb-0">
					<a class="fw-light" href="#">Mentions légales</a>
				</p>
			</div>
		</div>
	</div>
</footer>
