<div {{ attributes }} class="form-check form-switch">
	<input data-action="live#action" data-model='user.enabled' data-action-name="updateUser" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
</div>
