<div {{ attributes }} class="form-check form-switch p-0 m-0 d-flex align-items-center">
	<input data-action="live#action" data-model='user.enabled' data-action-name="updateUser" class="form-check-input m-0" type="checkbox" role="switch" id="flexSwitchCheckDefault">
</div>
