<div {{ attributes }} class="form-check form-switch">
	<input data-action="live#action" data-model='wine.isEnabled' data-action-name="updateState" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
</div>