<div {{ attributes }}>
	<button data-action="live#action" data-loading="action(sendOrderByMail)|hide" data-action-name="sendOrderByMail()" type="button" class="position-relative btn fw-bolder icon-link icon-link-hover icon-light text-uppercase my-2">
		COMMANDER
		{{ include('/components/svg/_icon_cart_check_fill.svg.twig') }}
		{% if this.nbrSendOrder > 0 %}
			<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-light fs-6">
				{{ this.nbrSendOrder }}
			</span>
		{% endif %}
	</button>
	<div class="spinner-border" role=" status" data-loading="action(sendOrderByMail)|show">
		<span class="visually-hidden">Loading...</span>
	</div>
</div>