{% extends 'error.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center flex-column">
    <header class="text-center mt-5 mb-5">
        <img class="w-75 object-fit-cover" src="{{ asset('build/images/error403.png')}}" alt="404">
        <h1 class="text-danger mt-3">Accès refusé</h1>
        {% include "components/svg/_frame_surlignage.svg.twig" %}
    </header>
    <main class="d-flex  justify-content-center align-items-center flex-column">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-6">
                <p class="mb-5 w-100 fw-light text-center">
                    Erreur 403 - Accès refusé. <br>
                    Désolé, mais vous n'êtes pas autorisé(e) à accéder à la ressource demandée. Le serveur a renvoyé un
                    message "403 Forbidden", indiquant que l'accès à la ressource est interdit pour vous.
                </p>
            </div>
        </div>
        <a class="btn btn-primary mb-5 " href="{{ path('home_index') }}">Retour à l'accueil</a>
    </main>
</div>
{% endblock %}