{% extends 'admin.html.twig' %}
{% block title %}
	{{ parent() }}
	| Cépages - Index
{% endblock %}
{% block admin_content_title %}NOS CÉPAGES
{% endblock %}
{% block admin_content %}
	<div>
		<div class="row">
			<div class="d-flex justify-content-end align-self-end mb-4 px-4">
				<a role="button" class="btn mt-4" href="{{ path('app_cepage_new') }}">AJOUTER</a>
			</div>
		</div>
		<table class="table table-striped table-hover table-bordered border-secondary">
			<thead class="sticky-top">
				<tr class="py-4">
					<th class="w-auto th-lg py-3 px-4 bg-secondary" scope="col">NOM</th>
					<th class="w-25 py-3 text-center px-2 bg-secondary" scope="col">ACTIONS</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				{% for grape_variety in grape_varieties %}
					<tr>
						<td class="px-4">{{ grape_variety.name }}</td>
						<td class="text-center p-2 w-25">
							<a class="link-offset-2 px-1 mx-1" href="{{ path('app_cepage_edit', {'id': grape_variety.id}) }}">Éditer</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="2">aucuns enregistrements trouvés</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}